@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

:root {
    background: rgb(26,78,110);
    background: linear-gradient(90deg, rgba(26,78,110,1) 10%, rgba(44,110,150,1) 50%, rgba(26,78,110,1) 90%);;
    font-size: 62.5%;
}

* {
    font-family: 'Roboto Mono', monospace;
    color: #FFFFFF;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.heading-style {
    font-size: 4rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}

.box-style {
    border: solid 0.1rem #FFFFFF;
    background-color: rgba(26,78,110,1);
    padding: 1rem 0 2rem 0;
    filter: opacity(90%);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.btn {
    border: solid 0.1rem #FFFFFF;
    margin: 0.8rem;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem; ;
    background-color: rgba(26,78,110,1);
    font-size: 2rem;
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
    transform: translateY(-0.4rem);
    transition: transform 150ms;
}

.question-style {
    font-size: 3rem;
    margin: 2rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border: solid 0.5rem #FFFFFF;
    color: #000000;
    /* box-shadow: 0 0.1rem 1rem 0 #FFFFFF; */
}